<!DOCTYPE HTML>
<!--
	Prism by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>CrtChk - Easy Certificate Check</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{ url('/') }}/assets/front/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ url('/') }}/assets/front/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ url('/') }}/assets/front/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<div class="inner split">
					<section>
						<h2>Welcome to CrtChk, a free SSL certificate checker</h2>
					</section>
					<section>
						<p>Certificate Check (crtchk) is a free web application to keep an eye on your SSL certificates for websites. You'll love it!</p>
						<ul class="actions">
							<li><a href="#" class="button special">Get started</a></li>
						</ul>
					</section>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner split">
					<section>
						<h2>Features</h2>
						<p>Crtchk makes it much easier to manage SSL certificates for all your HTTPS websites. It provides a handy view in which you can see the certificates, to which domains they belong, if HTTP is redirected and much more! You can even get a reminder if a certificate is about to expire or, even better, setup your server so it automatically renews the certificate if you're using Let's Encrypt.</p>
					</section>
					<section>
						<ul class="checklist">
							<li>Easy to use</li>
							<li>E-mail reminders</li>
							<li>Automatic status checks</li>
							<li>Check time to renewal</li>
							<li>Automatic renewing</li>
							<li>Check redirection</li>
						</ul>
					</section>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 alt">
				<div class="inner">
					<div class="spotlight">
						<div class="image">
							<i class="fa fa-lock" aria-hidden="true" style="color: #EFCE26;"></i>
						</div>
						<div class="content">
							<h3>Secure file transfer</h3>
							<p>Secure transfer is getting increasingly important for web traffic. It has long been expensive, but since services like Let's Encrypt it has become easy to use safe transfers over the web.</p>
						</div>
					</div>
					<div class="spotlight">
						<div class="image">
							<i class="fa fa-server" aria-hidden="true" style="color: #222222;"></i>
						</div>
						<div class="content">
							<h3>Clear status</h3>
							<p>But SSH certificates need to get renewed every now and then. This can get compliated when you have a lot of servers that use SSL certificates. This service provides an easy overview and allows you to get an instant glance at the status of your SSL certificates.</p>
						</div>
					</div>
					<div class="spotlight">
						<div class="image">
							<i class="fa fa-terminal" aria-hidden="true" style="color: #7FE700;"></i>
						</div>
						<div class="content">
							<h3>Built by professionals</h3>
							<p>Crtchk is a product from a collaboration between <a href="https://sijmen.it/" target="_blank">Sijmen Software & ICT</a> and <a href="https://csna.nl" target="_blank">CSNA</a>.</p>
						</div>
					</div>
					<ul class="actions special">
						<li><a href="#" class="button special">Get started</a></li>
					</ul>
				</div>
			</section>

		<!-- Contact -->
			<section id="contact" class="wrapper">
				<div class="inner split">
					<section>
						<h2>Contact</h2>
						<p>If you have questions, feel free to email us directly or using the form below.</p>
						<form action="#" class="alt" method="POST">
							<div class="row uniform">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="Name" type="text">
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email">
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="Message" rows="4"></textarea>
 								</div>
 							</div>
 							<ul class="actions">
 								<li><input class="alt" value="Send message" type="submit"></li>
 							</ul>
 						</form>
					</section>
					<section>
						<ul class="contact">
							<li class="fa-envelope"><a href="mailto:info@crtchk.nl">info@crtchk.nl</a></li>
							<li class="fa-github"><a href="https://github.com/mumblers/crtchk" target="_blank">github.com/mumblers/crtchk</a></li>
							<li class="fa-globe"><a href="https://sijmen.it" target="_blank">sijmen.it</a></li>
							<li class="fa-globe"><a href="https://csna.nl" target="_blank">csna.nl</a></li>
						</ul>
					</section>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; CrtChk 2016. Released under the MIT license. Design: <a href="http://templated.co" target="_blank">TEMPLATED</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url('/') }}/assets/front/js/jquery.min.js"></script>
			<script src="{{ url('/') }}/assets/front/js/skel.min.js"></script>
			<script src="{{ url('/') }}/assets/front/js/util.js"></script>
			<!--[if lte IE 8]><script src="{{ url('/') }}/assets/front/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ url('/') }}/assets/front/js/main.js"></script>

	</body>
</html>