{% set pagetitle = 'profile' %}

{% extends "dashboard/templates/base.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h3>Details</h3><br>
            <table class="table">
                <tr>
                    <td>username</td>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <td>email address</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>API key</td>
                    <td>{{ user.api_key }}</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>••••••••••</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <h3>History</h3><br>
            TODO
        </div>
    </div>
    {% if user.can('edit.profile') %}
        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-warning" href="{{ url('dashboard/profile/edit') }}">Edit profile</a>
                <a class="btn btn-danger" href="{{ url('dashboard/profile/delete') }}">Delete profile</a>
            </div>
        </div>
    {% endif %}
{% endblock %}