{% set pagetitle = 'User '~detailedUser.name %}
{% set active = 'users' %}

{% extends "dashboard/templates/base.twig" %}

{% block content %}
<div class="row">
    <div class="col-lg-4">
        <h3>Details</h3>
        <br>
        <table class="table">
            <tr>
                <th scope="row">User ID</th>
                <td>{{ detailedUser.id }}</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>{{ detailedUser.name }}</td>
            </tr>
            <tr>
                <th scope="row">API key</th>
                <td>{{ detailedUser.api_key }}</td>
            </tr>
            <tr>
                <th scope="row">Created at</th>
                <td>{{ detailedUser.created_at }}</td>
            </tr>
            <tr>
                <th scope="row">Updated at</th>
                <td>{{ detailedUser.updated_at }}</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-4">
        <h3>Roles</h3>
        <br>
        <table class="table">
            {% for role in detailedUser.getRoles() %}
            <tr>
                <td>{{ role.slug }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-lg-4">
        <h3>Permissions</h3>
        <br>
        <table class="table">
            {% for permission in detailedUser.getPermissions() %}
                <tr>
                    <td>{{ permission.slug }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% if user.can('edit.users') %}
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ url('dashboard/users/edit/'~user.id) }}" title="Edit" class="btn btn-warning">Edit</a>
            <a href="{{ url('dashboard/users/delete/'~user.id) }}" title="Remove" class="btn btn-danger">Delete</a>
        </div>
    </div>
{% endif %}

{% endblock %}