{% set pagetitle = 'users' %}
{% set active = 'users' %}

{% extends "dashboard/templates/base.twig" %}

{% block content %}
<a class="btn btn-primary" href="{{ url('dashboard/users/add') }}">Add user</a>
<br /><br />
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table datatable" id="dataTables">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>email</th>
                        <th>Roles</th>
                        <th>Created at</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr class="">
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for role in user.getRoles() %}
                            {{ role.slug }}<br />
                            {% endfor %}
                        </td>
                        <td>{{ user.created_at }}</td>
                        <td>
                            {% if user.can('view.users') %}
                                <a href="{{ url('dashboard/users/'~user.id) }}" title="Show details" class="btn btn-primary">View</a>
                            {% endif %}
                            {% if user.can('edit.users') %}
                            <a href="{{ url('dashboard/users/edit/'~user.id) }}" title="Edit" class="btn btn-warning">Edit</a>
                            <a href="{{ url('dashboard/users/delete/'~user.id) }}" title="Remove" class="btn btn-danger">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}