{% set pagetitle = 'domains' %}
{% set subtitle = 'CrtChk SSL checker' %}
{% set active = 'domains' %}

{% extends "dashboard/templates/base.twig" %}

{% block content %}
    <table class="table datatable">
        <thead>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>Verified At</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            {% for domain in domains %}
                <tr>
                    <td>{{ domain.id }}</td>
                    <td><a href="http://{{ domain.url }}" target="_blank">{{ domain.name }}</a></td>
                    <td>{{domain.verified_at}}</td>
                    <td>
                        {% if user.can('view.domains') %}
                            <a class="btn btn-primary" href="{{ url('dashboard/domain/'~domain.id) }}">View</a>
                        {% endif %}
                        {% if user.can('edit.domains') %}
                            <a class="btn btn-warning" href="{{ url('dashboard/domain/edit/'~domain.id) }}">Edit</a>
                            <a class="btn btn-danger" href="{{ url('dashboard/domain/delete/'~domain.id) }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}